<?xml version="1.0"?>
<launch>
    <arg name="file" value="$/home/haru/list/map_list,yaml"/>

    <node pkg="map_changer" type="map_changer" name="map_changer" output="screen">
        <rosparam filename_="$(arg file)" command="load"/>
    </node>

    <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find waypoint_nav)/rviz/editor.rviz" /> -->
</launch>