<?xml version="1.0"?>
<launch>
    <!-- <arg name="map_file" default="$(find waypoint_nav)/maps/mymap"/> -->
    <arg name="file" value="$(find map_changer)/map/map,yaml"/>
    <!-- <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file).yaml"/> -->

    <node pkg="map_changer" type="map_changer" name="map_changer" output="screen">
        <!-- <param name="filename" value="$(find waypoint_nav)/config/sample.yaml"/> -->
        <!-- <param name="map_frame" value="map"/> -->
        <rosparam filename="$(arg file)" command="load"/>
    </node>

    <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find waypoint_nav)/rviz/editor.rviz" /> -->
</launch>